@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased transition-colors duration-300;
    background-color: #fafafa;
    color: #18181b;
  }

  .dark body {
    background-color: #09090b;
    color: #fafafa;
  }

  ::selection {
    @apply bg-primary-500/30;
    color: #09090b;
  }

  .dark ::selection {
    color: #fafafa;
  }
}
